@import 'normalize.css';

:root {
    --primary: #fe2c55;
    --black: #000;
    --transparent: transparent;
    --white: #fff;
    --text-color: #333;
    --font-family: 'ProximaNova', sans-serif;
    // DefaultLayout
    --default-layout-header-height: 60px;
    --default-layout-header-width: 1150px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
//Font embeded
@font-face {
    font-family: ProximaNova;
    src: url('../assest/fonts/Proxima-Nova-Semibold.woff2');
    font-weight: 100;
}

@font-face {
    font-family: ProximaNova;
    src: url('../assest/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
button,
input,
[tabindex] {
    border: none;
    outline: none;
    background-color: transparent;
}
a[href] {
    color: var(--text-color);
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-top: 30px solid rgba(22, 24, 35, 0.08);
}

//Tippy config

.tippy-content {
    background-color: rgba(84, 84, 84, 0.92);
    color: var(--white);
    padding: 8px;
    font-size: 1.6rem;
    border-radius: 8px;
    font-weight: 600;
}
.tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
    color: rgba(84, 84, 84, 0.92);
    top: -8px;
}
