.wrapper {
    width: 100%;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    border-radius: 8px;
    padding: 8px 0;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    max-height: min((100vw - 96px) - 60px);
}
